@font-face {
    font-family: 'Shabnam';
    src: url('/fonts/shabnam/Shabnam-Light-FD.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Shabnam';
    src: url('/fonts/shabnam/Shabnam-Light-FD.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

/* Light */
@font-face {
    font-family: 'Shabnam';
    src: url('/fonts/shabnam/Shabnam-Light-FD.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

/* Regular */
@font-face {
    font-family: 'Shabnam';
    src: url('/fonts/shabnam/Shabnam-FD.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: 'Shabnam';
    src: url('/fonts/shabnam/Shabnam-FD.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Shabnam';
    src: url('/fonts/shabnam/Shabnam-FD.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'Shabnam';
    src: url('/fonts/shabnam/Shabnam-Bold-FD.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Shabnam';
    src: url('/fonts/shabnam/Shabnam-Bold-FD.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

/* Black */
@font-face {
    font-family: 'Shabnam';
    src: url('/fonts/shabnam/Shabnam-Bold-FD.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
